<div class="container-fluid">

  <table *ngIf="webhooks" mat-table
         [dataSource]="webhooks" multiTemplateDataRows
         class="mat-elevation-z8" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td (click)="expandedElement = expandedElement === element ? null : element" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="types">
      <th mat-header-cell *matHeaderCellDef> types </th>
      <td (click)="expandedElement = expandedElement === element ? null : element" mat-cell *matCellDef="let element"> {{element.getTypes()}} </td>
    </ng-container>

    <ng-container matColumnDef="token">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td (click)="expandedElement = expandedElement === element ? null : element" mat-cell *matCellDef="let element"> {{element.token}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td (click)="expandedElement = expandedElement === element ? null : element" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>



    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> UUID </th>
      <td (click)="expandedElement = expandedElement === element ? null : element" mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <a (click)="onEdit(element.id)" class="action"> <i class="fa fa-edit"></i> </a>
        <a (click)="onDelete(element.id)" class="action"> <i class="fa fa-trash-alt"></i> </a>
      </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div style="max-width: 1px;">
            <pre style="word-wrap: break-word; display: inline; overflow: hidden;">
              {{element.config | json : 4}}
            </pre>
          </div>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
    ></tr>

    <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>


</div>
